# file
*.h~
*.cpp~
*.c~
*.o
*.exe
.metadata
.cproject
.project
.settings
*.db
*.dump

*.pyc
newfile.txt


# dir 
tt/
.vscode/
build*/
venv/
.idea/

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
